<div id="<%= dom_id type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= type.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cost:</strong>
    <%= type.cost %>
  </p>

</div>
